@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@layer base {
  :root {
    --background: oklch(100% 0 0);
    --foreground: oklch(14.67% 0.0041 49.31);
    --card: oklch(100% 0 0);
    --card-foreground: oklch(14.67% 0.0041 49.31);
    --popover: oklch(100% 0 0);
    --popover-foreground: oklch(14.67% 0.0041 49.31);
    --primary: oklch(70.48% 0.1868 47.6);
    --primary-foreground: oklch(98.45% 0.0013 106.42);
    --secondary: oklch(97% 0.0013 106.42);
    --secondary-foreground: oklch(21.61% 0.0061 56.04);
    --tertiary: oklch(0.637 0.237 25.331);
    --muted: oklch(97% 0.0013 106.42);
    --muted-foreground: 25 5.3% 44.7%;
    --accent: oklch(97% 0.0013 106.42);
    --accent-foreground: oklch(21.61% 0.0061 56.04);
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: oklch(98.45% 0.0013 106.42);
    --border: oklch(92.32% 0.0026 48.72);
    --input: oklch(92.32% 0.0026 48.72);
    --ring: oklch(70.48% 0.1868 47.6);
    --radius: 0.75rem;
    --chart-1: oklch(67.72% 0.1571 35.19);
    --chart-2: oklch(63.09% 0.1013 183.49);
    --chart-3: oklch(37.87% 0.044 225.54);
    --chart-4: oklch(83.36% 0.1186 88.15);
    --chart-5: oklch(78.34% 0.1261 58.75);
  }

  .dark {
    --background: oklch(14.67% 0.0041 49.31);
    --foreground: oklch(98.45% 0.0013 106.42);
    --card: oklch(14.67% 0.0041 49.31);
    --card-foreground: oklch(98.45% 0.0013 106.42);
    --popover: oklch(14.67% 0.0041 49.31);
    --popover-foreground: oklch(98.45% 0.0013 106.42);
    --primary: oklch(64.55% 0.1943 41.08);
    --primary-foreground: oklch(98.45% 0.0013 106.42);
    --secondary: oklch(26.85% 0.0063 34.3);
    --secondary-foreground: oklch(98.45% 0.0013 106.42);
    --tertiary: oklch(0.637 0.237 25.331);
    --muted: oklch(26.85% 0.0063 34.3);
    --muted-foreground: 24 5.4% 63.9%;
    --accent: oklch(26.85% 0.0063 34.3);
    --accent-foreground: oklch(98.45% 0.0013 106.42);
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: oklch(98.45% 0.0013 106.42);
    --border: oklch(26.85% 0.0063 34.3);
    --input: oklch(26.85% 0.0063 34.3);
    --ring: oklch(64.55% 0.1943 41.08);
    --chart-1: oklch(52.92% 0.1931 262.13);
    --chart-2: oklch(69.83% 0.1337 165.46);
    --chart-3: oklch(72.32% 0.15 60.63);
    --chart-4: oklch(61.92% 0.2037 312.73);
    --chart-5: oklch(61.23% 0.2093 6.39);
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-tertiary: var(--tertiary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}